.advantages {
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    margin-bottom: 43px;
    border-bottom: 1px solid $line-grey;
  }

  @media (min-width: $desktop) {
    margin-bottom: 11px;
    border-bottom: none;
  }
}

.advantages__title {
  @include font-set(36px, 1.11, 400);
  font-family: $font-classic;
  margin: 0 0 38px 0;

  @media (min-width: $tablet) {
    @include font-set(60px, 1, 400);
    margin-bottom: 32px;
  }
}

.advantages__list {
  @include list-style-reset;
  @include font-set(14px, 1.28, 400);
  color: $special-dark-grey;

  @media (min-width: $tablet) {
    @include font-set(16px, 1.5, 400);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 69px;
  }
}

.advantages__item {
  margin: 0 0 20px 80px;

  @media (min-width: $tablet) {
    width: 323px;
    min-height: 280px;
    margin-top: 111px;
    margin-bottom: 37px;
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    width: 245px;
    margin-bottom: 0;
  }
}
