.page-main__title {
  @include font-set(36px, 1, 400);
  font-family: $font-classic;
  margin: 27px 0 37px 0;

  @media (min-width: $tablet) {
    @include font-set(60px, 1, 400);
    margin: 64px 0 54px 0;
  }

  @media (min-width: $desktop) {
    margin: 77px 0 56px 0;
  }
}

.page-main__text {
  @include font-set(14px, 1.28, 400);
  font-family: $font-classic;
  text-transform: uppercase;
  margin: 0 0 39px 0;

  @media (min-width: $tablet) {
    @include font-set(20px, 1.5, 400);
    margin-bottom: 66px;
  }
}
