.container {
  min-width: $mobile;
  margin: 0 auto;
  padding: 0 $indent-mobile;

  @media (min-width: $tablet) {
    padding: 0 $indent-tablet;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 $indent-desktop;
  }
}
