/* Цвета */

$white: #ffffff;
$black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$border-grey: #d9d9d9;
$border-grey-light: #cdcdcd;
$line-grey: #e6e6e6;
$special-dark-grey: #444444;
$special-grey: #222222;
$bg-grey: #eaeaea;
$bg-green: rgba(104, 183, 56, 0.85);

/* Шрифты */

$font-classic: "Oswald", "Arial", sans-serif;
$font-additional: "Arial", sans-serif;

/* Прозрачность */

$opacity-hover-60: 0.6;
$opacity-active-30: 0.3;

/* Размеры экрана */

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
